<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="This is the webpage for the car dealership CSE Motors"
  />
  <meta name="author" content="Ivan Romero" />
  <title><%- title %> | CSE 340 App</title>

  <!-- CSS CONNECTIONS -->
  <!-- NORMALIZATION OF THE CONTENT -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
  />
  <!-- BASE FOR SMALLER VIEWPORTS AND LARGER FOR LARGER VIEWPORTS -->
  <link rel="stylesheet" href="/css/base.css" media="screen" />
  <link rel="stylesheet" href="/css/larger.css" media="screen" />

  <!-- FONTS USED IN THE WEBPAGE - POPPINS WITH DIFFERENT WEIGHTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
    rel="stylesheet"
  />
</head>
