@media screen and (min-width: 600px) {
  body {
    background-image: url('../images/site/checkerboard.jpg');
  }

  #wrapper {
    border: 3px solid black;
    box-shadow: 0 0 20px black;
  }

  #menu {
    display: none;
  }

  #info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #reviews {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #upgrades {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #hero-txtbox {
    right: 50%;
  }

  nav a {
    font-size: 1.5em;
  }

  /* Product listings  */

  .namePrice span {
    margin-right: 1rem;
  }
  .namePrice h2 {
    margin-right: 1rem;
  }
  /* car details */
  h1,
  h3 {
    text-align: right;
    margin-right: 1.5rem;
  }
  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .car-image {
    width: auto;
  }
  .car-info {
    padding: 1.5rem;
  }
  /* Form changes in large view */
  .form-shape label {
    margin: 1.5rem;
  }

  .form-shape form {
    width: 65%;
  }

  .inv-menu {
    width: 20%;
  }
}
